@using Boilerplate.Core.Components.Common.SocialMediaLinks
@model Boilerplate.Core.Components.Common.SocialMediaLinks.SocialMediaLinksViewModel

@if (Model.Links.Any())
{
    var iconClasses = UIService.ClassesIf(new ConditionalCssClass
    {
        ClassName = Model.IconClasses,
        Condition = Model.HasIconClasses
    });

    <ul class="flex gap-sm">

        @foreach (var socialMedia in Model.Links)
        {
            <li>
                <a href="@socialMedia.Url" rel="noreferrer" target="_blank">

                    @switch (socialMedia.Type)
                    {
                        case SocialMediaType.Facebook:
                            <svg class="icon @iconClasses" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 44 44">
                                <defs>
                                    <circle id="a" cx="22" cy="22" r="22" />
                                    <path id="c" d="M0 0h18v35H0z" />
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                    <circle cx="22" cy="22" r="22" fill="@Model.IconBgColor" />
                                    <g fill="currentColor">
                                        <g transform="translate(13 9)">
                                            <path fill="currentColor" d="M11.711 35H5.334c.003-.037.007-.074.007-.11V19.124c0-.023.007-.05-.002-.068a.139.139 0 0 0-.06-.06c-.027-.01-.061-.002-.093-.002H.136c-.16 0-.134.005-.134-.14v-5.931c0-.112 0-.112.109-.112h5.101c.145 0 .13.014.13-.127 0-1.447-.002-2.894 0-4.34.001-.634.035-1.264.13-1.891a8.96 8.96 0 0 1 .55-2.037c.586-1.43 1.521-2.558 2.852-3.337C10.094.365 11.427.058 12.823.01c.586-.021 1.173-.003 1.76.011.557.013 1.115.036 1.671.068.545.032 1.09.082 1.634.122.082.006.112.034.112.125-.003 1.78-.002 3.558-.002 5.338 0 .11 0 .11-.112.11-1.137.001-2.273-.001-3.41.004a4.133 4.133 0 0 0-1.162.172c-.736.221-1.233.689-1.45 1.443a4.132 4.132 0 0 0-.157 1.143c-.004 1.38-.002 2.762-.002 4.143 0 .123 0 .123.125.123h5.942c.001.032.005.052.003.072-.04.317-.08.634-.122.951l-.198 1.521-.208 1.658-.237 1.852c-.017.128-.016.129-.143.129h-5.042c-.12 0-.12 0-.12.121v15.782c0 .034.004.068.006.102" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            break;

                        case SocialMediaType.LinkedIn:
                            <svg class="icon @iconClasses" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 44 44">
                                <defs><path id="a" d="M11 33h24V10H11z" /></defs>
                                <g fill="none" fill-rule="evenodd">
                                    <circle cx="22" cy="22" r="22" fill="@Model.IconBgColor" />
                                    <path fill="currentColor" d="M24.894 33H20V18.372h4.87v2.009c.136-.15.201-.21.252-.281 1.224-1.719 2.948-2.275 4.972-2.054 2.133.234 3.637 1.356 4.356 3.365.298.832.491 1.744.51 2.625.066 2.917.03 5.837.032 8.756 0 .054-.01.109-.02.194h-4.9v-.462c0-2.414.01-4.828-.007-7.241-.004-.529-.046-1.072-.174-1.582-.476-1.89-2.672-2.496-4.099-1.148-.615.581-.9 1.303-.899 2.15.007 2.596.002 5.192.001 7.788V33z" />
                                    <path fill="currentColor" d="M11 33h6V18h-6zm2.973-17c-2.108 0-3.467-1.94-2.804-4.007.44-1.375 1.848-2.195 3.344-1.95 1.552.255 2.582 1.557 2.48 3.136-.11 1.708-1.301 2.82-3.02 2.821" />
                                </g>
                            </svg>
                            break;

                        case SocialMediaType.Instagram:
                            <svg class="icon @iconClasses" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 44 44">
                                <defs><path id="1vitt89una" d="M0 0L26 0 26 26 0 26z" /></defs>
                                <g fill="none" fill-rule="evenodd">
                                    <g>
                                        <g>
                                            <g transform="translate(-1284.000000, -6360.000000) translate(0.000000, 6007.000000) translate(1284.000000, 353.000000)">
                                                <circle cx="22" cy="22" r="22" fill="@Model.IconBgColor" />
                                                <g>
                                                    <g transform="translate(9.000000, 9.000000)">
                                                        <path fill="currentColor" d="M12.997 2h-5.38c-.518-.001-1.03.055-1.53.191-2.402.651-4.08 2.818-4.084 5.304-.008 3.676-.005 7.352.002 11.029.001.344.039.693.107 1.03.53 2.612 2.782 4.444 5.446 4.445h10.889c.856 0 1.68-.165 2.44-.56 2.02-1.054 3.086-2.734 3.105-5.01.03-3.62.008-7.24.008-10.86 0-.46-.053-.916-.161-1.365-.582-2.429-2.817-4.199-5.312-4.203-1.843-.003-3.687 0-5.53 0M7.16 0h11.68c.032.006.065.015.097.017.44.024.874.091 1.301.198 1.606.4 2.943 1.236 4.005 2.502.953 1.136 1.52 2.446 1.7 3.92.022.173.038.348.057.523v11.68c-.006.035-.013.07-.018.106-.058.399-.086.804-.179 1.194-.501 2.094-1.684 3.7-3.526 4.81-1.167.703-2.442 1.047-3.804 1.048-3.626.003-7.252.002-10.879 0-.256 0-.513-.014-.768-.037-1.018-.091-1.977-.386-2.872-.877C1.487 23.73 0 21.217 0 18.404L0 7.586C0 6.83.106 6.093.32 5.37 1.162 2.539 3.693.402 6.616.057 6.797.036 6.98.02 7.16 0" />
                                                    </g>
                                                    <path fill="currentColor" d="M13.008 8C10.23 8 8.003 10.22 8 12.993c-.003 2.772 2.223 5.004 4.992 5.008 2.774.004 5.01-2.229 5.008-5.003-.001-2.768-2.228-4.996-4.992-4.996M20 13c0 3.854-3.15 7-7.006 6.999C9.146 19.999 6 16.849 6 12.998c0-3.87 3.184-7.054 7.106-6.997 3.79.055 6.891 3.164 6.894 7M22 5.005c-.002.548-.454.996-1.003.995-.552-.001-1.001-.457-.997-1.01.005-.55.455-.992 1.008-.99.548.002.994.453.992 1.005" transform="translate(9.000000, 9.000000)" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            break;
                    }
                </a>
            </li>
        }
    </ul>
}